<header>
<nav>
    <a class="btn" [routerLink]="['Dashboard']">|||| Boards</a>
    <a class="logo">Generic Trello Task Manager</a>
</nav>
</header>
<div id="content-wrapper">
<div id="disclaimer" *ngIf="showDisclaimer">
  <h1>Warning:
  <span id="closeButton" (click)="closeDisclaimer()">x</span></h1>
  <p>
    This is a demo app, made by <a href="https://github.com/hdkeven" target="_blank">Deven Blackburn</a> and is not intended for real world use.
  </p>
  <p>
    Data stored here is periodically <strong class="red">erased</strong> without notice.
  </p>
</div>
  <router-outlet></router-outlet>
</div>
